Properties/AssemblyInfo.cs
SvImageBorder.csproj
Web.Debug.config
Web.Release.config
Web.config
bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
bin/TestApp.dll.config
bin/roslyn/Microsoft.CSharp.Core.targets
bin/roslyn/Microsoft.VisualBasic.Core.targets
bin/roslyn/VBCSCompiler.exe.config
obj/Debug/SvImageBorder.csproj.FileListAbsolute.txt
obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
obj/Debug/TestApp.csproj.FileListAbsolute.txt
packages.config
